{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter Ville</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
</div>
{% endblock %}
