{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="form-group" bis_skin_checked="1">
        <h1>Circuit</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
    </div>

{% endblock %}